:root {
	--default-padding: 1rem;
	--default-padding-half: calc(var(--default-padding) / 2);
	--font-color: white;
	--background-color-lighter: hsl(0, 0%, 15%);
	--background-color: hsl(0, 0%, 10%);
	--background-color-darker: hsl(0, 0%, 5%);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	color: var(--font-color);
	background-color: var(--background-color-darker);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

main {
	padding: var(--default-padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navFooter {
	display: flex;
	background-color: var(--background-color);
}

.navFooter > * {
	padding: var(--default-padding);
	background-color: var(--background-color);
}

.navFooter > *:hover, .navFooter > *:hover *, .navFooter > *:focus, .navFooter > *:focus * {
	text-decoration: underline;
	background-color: var(--background-color-lighter);
}

.navFooter * {
	text-decoration: none;
	background-color: var(--background-color);
}

form {
	padding: var(--default-padding-half);
	display: flex;
	flex-direction: column;
}

form > * {
	margin: var(--default-padding-half);
}

form > div {
	display: flex;
	justify-content: space-between;
}

.lastChild {
	margin-left: auto;
}