<head>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<% if (typeof title != undefined) { %>
		<title><%= title %> | Keycaps</title>
	<% } else { %>
		<title>Unknown Page | Keycaps</title>
	<% } %>
	<% if (title === "Login" || title === "Register") { %>
		<script src="/javascripts/login_register.js" defer></script>
	<% } %>
	<script src="/javascripts/index.js" defer></script>
</head>