<head>
	<title><%= title %> | BrainSpace</title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<script src='/javascripts/index.js' defer></script>
	<% if (title === "Login" || title === "Register") { %>
		<script src='/javascripts/login_register.js' defer></script>
	<% } %>
</head>