<nav class="navFooter">
	<a href="/">Home</a>
	<% if (session.loggedin) { %>
		<a href="/logout">Logout</a>
		<a href="/" class="lastChild"><%= session.username %></a>
	<% } else { %>
		<a href="/login">Login</a>
		<a href="/register">Register</a>
	<% } %>
</nav>