<nav class="navFooter">
	<a href="/">Home</a>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<a href="/about">About</a>
	<a href="/products">Products</a>
	<a href="/services">Services</a>
</nav>